<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo"><a href="/"><h3 >Car-Rentals</h3></a></div>
      
      <% if(user){ %>
        <div class="profile">
        <img src=<%=user.avatar%> alt="" >
        <p>Welcome <%=user.name %> </p>
      </div>
      <a href="/cars" class="nav-link">My Cars</a>
      <a href="/rentals" class="nav-link">Rent a Car</a>
      <a href="/logout" class="nav-link">LOG OUT</a>
      <% } else { %>
      <a href="/auth/google" class="login"
        >LOG IN&nbsp;
        <img src="https://i.imgur.com/FHjYyi0.png"
      /></a>
      <% } %>
    </nav>
    <main>
  </body>
</html>
