<%- include('./partials/header') %>

<div class="hero">
  <img src="/images/hero-img.png" alt="" />
  <div>
    <div class="hero-copy">
      <h2>Rent a car today and enjoy a unique driving experience</h2>
    </div>
    <div class="hero-sub">
      <h3>
        Available in 15+ cities across North <br />
        America and Europe
      </h3>
    </div>
  </div>
</div>

<div class="how-it-works">
  <div class="how-it-works-card">
    <img src="/images/hero-img.png" alt="" />
    <h3>Sign Up</h3>
  </div>

  <div class="how-it-works-card">
    <img src="/images/hero-img.png" alt="" />
    <h3>Rent</h3>
  </div>

  <div class="how-it-works-card">
    <img src="/images/hero-img.png" alt="" />
    <h3>Drive</h3>
  </div>
</div>

<%- include('./partials/footer') %>
