* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: auto;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

main {
  padding-left: 200px;
}

.car-card {
  display: flex;
  margin: 40px auto;
}

.car-img {
 
  
  
}

.car-card img {
  object-fit: contain;
  height: 100px;
}