<%- include('../partials/header') %>

<h1>Rental view</h1>
<% rentals.forEach(function(r){ %>
  <div class="car-card">
    <img src="/images/tesla.jpeg" alt="">
    <div>
      <p><%=r.make%></p>
      <p><%=r.model%></p>
    </div>
  </div>
<%})%>

<%- include('../partials/footer') %>